<section id="role-permissions-wrapper">

    <form class="full-screen">

        <h2>Manage Role Permissions</h2>

        <hr />

        <table class="table table-hover table-striped sticky-header" st-table="displayed">
            <thead>
                <tr>
                    <th>Permission</th>
                    <th ng-repeat="Role in RBAC.roles">{{Role.title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Permission in RBAC.permissions">
                    <td>{{Permission.title}}</td>
                    <td ng-repeat="Role in RBAC.roles">
                        <input type="checkbox" ng-model="Role.formattedPermissions[Permission.permission]" 
                               ng-change="RBAC.UpdateRolePermission(Role.rid, Permission.permission, Role.formattedPermissions[Permission.permission])" />
                    </td>
                </tr>
            </tbody>
        </table>
        
    </form>

</section>