<section>
    <section class="col-sm-12">
        <form class="form-horizontal">

            <h3>Role</h3>

            <hr />

            <section class="form-errors" ng-show="Form.Errors.length > 0">
                <div class="form-error" ng-repeat="Error in Form.Errors">
                    {{Error}}
                </div>
            </section>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Title: </label>
                <div class="col-sm-9">
                    <input ng-model="Form.object.title" class="form-control" type="text" id="title">
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">Description: </label>
                <div class="col-sm-9">
                    <textarea ng-model="Form.object.description" class="form-control" id="description"></textarea>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-lg btn-primary" ng-click="Form.submitHandler()">Save</button>
                </div>
            </div>
        </form>

    </section>
</section>