<section class="col-sm-12">
    <form class="form-horizontal">

        <h3>Add User</h3>

        <hr />

        <section class="form-errors" ng-show="Form.Errors.length > 0">
            <div class="form-error" ng-repeat="Error in Form.Errors">
                {{Error}}
            </div>
        </section>

        <div class="form-group">
            <label for="user-id" class="col-sm-2 control-label">User ID: </label>
            <div class="col-sm-10">
                <input ng-model="Form.object.userId" class="form-control" id="user-id" type="text" placeholder="User ID">
                <p class="help-block">An Alpha-numeric User ID that is unique to this user.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password: </label>
            <div class="col-sm-10">
                <input ng-model="Form.object.password" class="form-control" type="password" id="password" placeholder="The new user's password">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email </label>
            <div class="col-sm-10">
                <input ng-model="Form.object.email" class="form-control" type="email" id="email" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label for="first-name" class="col-sm-2 control-label">First Name </label>
            <div class="col-sm-10">
                <input ng-model="Form.object.firstName" class="form-control" type="text" id="first-name" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label for="last-name" class="col-sm-2 control-label">Last Name </label>
            <div class="col-sm-10">
                <input ng-model="Form.object.lastName" class="form-control" type="text" id="last-name" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label for="other-name" class="col-sm-2 control-label">Other Name </label>
            <div class="col-sm-10">
                <input ng-model="Form.object.otherName" class="form-control" type="text" id="other-name" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Roles </label>
            <div class="col-sm-10">
                <div ng-repeat="role in Form.roles">
                    <input ng-model="Form.object.roles[role.rid]" value="{{role.rid}}" type="checkbox" name="role[]" placeholder=""> {{role.title}}
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-lg btn-primary" ng-click="Form.SubmitHandler()">Add User</button>
            </div>
        </div>
    </form>

</section>