<section id="user-management">

    <section id="sidebar" class="col-lg-2 col-md-3 col-sm-3">
        <ng-include src="UserMgmt.sidebarTemplate"></ng-include>
    </section>

    <section id="content-wrapper" class="col-lg-10 col-md-9 col-sm-9">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Other Name</th>
                    <th>Status</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in UserMgmt.users">
                    <td>{{user.uid}}</td>
                    <td>{{user.userId}}</td>						
                    <td>{{user.firstName}}</td>						
                    <td>{{user.lastName}}</td>						
                    <td>{{user.otherName}}</td>						
                    <td>{{user.status}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <div ng-repeat="role in user.roles">
                            {{role.title}}
                        </div>
                    </td>                    
                    <td>
                        <a class="btn btn-info" href="#user/{{user.uid}}/edit">edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</section>